@charset "utf-08";
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

body{
    font-family: "Lilita One", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000e4b;
}

.lilita-one-regular {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.heading{
    font-size: 5rem;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    background-color: rgb(25, 30, 82);
    background-image: linear-gradient(170deg, #01c800 0%, #f850c0 30%, #fccc70 77%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}